@import url("fonts/clash-display/css/clash-display.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unica+One&display=swap");
:root {
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-secondary: #150e28;
  --color-secondary2: #903aff;
  --color-secondary3: #d434fe;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 95%;
  --transition: all 500ms ease;
}

*,
*::after,
*::before {
  margin: 0;
  outline: 0;
  list-style: none;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* general style */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: white;
  overflow-x: hidden;
  background-color: var(--color-secondary);
}
.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
/* =============================home==========================  */
/* ==========================nav======================== */
.nav_container {
  padding: 1.5rem 0;
  border-bottom: 1px solid white;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
  /* position: fixed; */
  /* z-index: 555; */
  cursor: pointer;
}
.logo {
  width: 120px;
}
.header_logo {
  cursor: pointer;
  font-family: "ClashDisplay-Bold";
  font-weight: bold;
  color: white;
  z-index: 33;
}
.text_colored span {
  color: var(--color-secondary3);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  z-index: 33;
  align-items: center;
  gap: 2rem;
  font-family: "Montserrat", sans-serif;
}
.menu {
  display: none;
}
.btn {
  padding: 0.6rem 2rem;
  background-image: url("./assets/Rectangle 6.png");
  border-radius: 0.2rem;
  color: white;
  font-size: 1rem;
}
.register_btn {
  margin-left: 1rem;
}
/* ======================= hero ================= */
.hero_section {
  /* margin-top: 5rem; */
  margin-top: 1rem;
  border-bottom: 1px solid white;
}
.hero_container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.hero_t_c {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.hero_svg {
  width: 58px;
}
.heroleft {
  padding: 2rem 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-items: left;
  align-items: flex-start;
  position: relative;
}
.heroleft h2 {
  font-size: 3.7rem;
  font-weight: bold;
  font-family: "ClashDisplay-Bold";
}
.heroleft .title {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.short_intro {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}
.hero_imgs {
  position: relative;
  margin-top: 20px;
}
.hero_btn {
  margin-top: 1rem;
}
.up {
  text-align: right;
  padding: 0 0 2rem 0;
}
.hero_section .text_under {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: bold;
  font-style: italic;
  position: relative;
  display: inline;
  text-align: right;
  white-space: nowrap;
}
.title1 {
  position: relative;
}
.title1::before {
  position: absolute;
  content: url("./assets/Creative 1.png");
  right: 9rem;
  top: -80%;
  z-index: -1;
}
.hero_section .text_under::before {
  position: absolute;
  content: url("./assets/Vector 4.png");
  bottom: -100%;
  right: 0;
  z-index: -1;
}
.hero_img_bubble {
  position: absolute;
  top: -40px;
  width: 100%;
  left: 10px;
}
.heroright {
  position: relative;
}
.metrix,
.purple_bg,
.star {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.purple_left {
  top: -70%;
  left: 0%;
  width: 150%;
}
.purple_right {
  top: -10%;
  left: 20%;
}
.star {
  width: 20px;
}
.star1 {
  top: -20%;
}
.star2 {
  left: 120%;
  top: -10%;
}
.star3 {
  left: 70%;
  top: 80%;
}

.countdown {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Unica One", cursive;
}
.countdown .unit {
  font-size: 0.9rem;
}

/* media query */
@media screen and (max-width: 1320px) {
  .container {
    width: var(--container-width-md);
    max-width: 1920px;
    margin: 0 auto;
  }
  /* =============================home==========================  */

  /* ======================= hero ================= */
  .hero_container {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .hero_svg {
    width: 58px;
  }
  .heroleft {
    padding: 2rem 0;
    width: 100%;
    gap: 0.7rem;
    justify-items: left;
    align-items: center;
    text-align: center;
  }
  .heroleft h2 {
    text-align: center;
    font-size: 3.7rem;
  }
  .hero_imgs {
    margin-top: 0px;
  }
  .hero_btn {
    margin-top: 1rem;
  }
  .up {
    text-align: center;
    padding: 1rem 0 4rem 0;
  }
  .hero_section .text_under {
    font-size: 1.3rem;
    text-align: center;
  }
  .title1::before {
    right: 7rem;
  }
  .hero_img_bubble {
    top: -40px;
    left: 10px;
  }
  .metrix,
  .purple_bg,
  .star {
    z-index: -1;
  }
  .purple_left {
    top: -30%;
    left: -30%;
    width: 100%;
  }
  .purple_right {
    display: none;
  }
  .star {
    width: 20px;
  }
  .star1 {
    top: 0%;
  }
  .star2 {
    left: 90%;
    top: -10%;
  }
  .star3 {
    left: 70%;
    top: 80%;
  }

  .countdown {
    font-size: 3rem;
  }
  .countdown .unit {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
    max-width: 1920px;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  /* =============================home==========================  */
  /* ==========================nav======================== */
  .nav_container {
    padding: 1.5rem 0;
    position: relative;
  }
  .menu {
    display: block;
    width: 30px;
  }
  .header_logo,
  .menu {
    z-index: 2000;
  }
  nav ul {
    gap: 2rem;
    position: absolute;
    top: -500vw;
    background-color: var(--color-secondary);
    width: 100%;
    align-items: flex-start;
    z-index: 99;
    padding: 3rem;
    height: 100vh;
    left: 0;
    flex-direction: column;
    transition: var(--transition);
  }
  .register_btn {
    margin-left: 0rem;
  }
  ul.open {
    top: 100%;
  }
}
@media screen and (max-width: 670px) {
  /* ======================= hero ================= */
  .hero_section {
    margin-top: 0rem;
    padding: 2rem 2rem 0 2rem;
  }
  .hero_t_c {
    gap: 0.6rem;
  }
  .hero_svg {
    width: 40px;
  }
  .heroleft h2 {
    font-size: 3rem;
  }
  .short_intro {
    font-size: 1rem;
  }
  .hero_section .text_under {
    font-size: 1rem;
    padding: 0.3rem;
  }
  .title1::before {
    right: 5rem;
    top: -100%;
    transform: scale(0.7);
    z-index: -1;
  }
  .hero_section .text_under::before {
    bottom: -90%;
    right: 0;
    transform: scale(0.6);
    z-index: -1;
  }
  .star3 {
    left: 70%;
    top: 70%;
  }
}

@media screen and (max-width: 540px) {
  /* ======================= hero ================= */
  .hero_section {
    padding: 2rem 0.7rem 0 0.7rem;
  }
  .hero_svg {
    width: 30px;
  }
  .heroleft h2 {
    font-size: 2.5rem;
  }
  .short_intro {
    font-size: 0.9rem;
  }
  .hero_section .text_under {
    font-size: 0.9rem;
    padding: 0.3rem;
  }
  .title1::before {
    right: 3rem;
    top: -100%;
  }
  .star3 {
    left: 70%;
    top: 60%;
  }
}

@media screen and (max-width: 425px) {
  /* ======================= hero ================= */
  .hero_section {
    padding: 2rem 0.7rem 0 0.7rem;
  }
  .hero_svg {
    width: 25px;
  }
  .heroleft h2 {
    font-size: 2.2rem;
  }
  .short_intro {
    font-size: 0.8rem;
  }
  .hero_section .text_under {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
  .title1::before {
    top: -120%;
  }
}

@media screen and (max-width: 390px) {
  /* ======================= hero ================= */
  .hero_section {
    padding: 2rem 0.7rem 0 0.7rem;
  }
  .hero_svg {
    width: 25px;
  }
  .heroleft h2 {
    font-size: 2rem;
  }
  .short_intro {
    font-size: 0.9rem;
  }
  .hero_section .text_under {
    font-size: 0.7rem;
    padding: 0.3rem;
  }
  .title1::before {
    top: -140%;
  }
}
